<!--The content below is only a placeholder and can be replaced.-->
<div class="p-4">
  <div class="mb-2">
    <div class="flex items-center mb-2">
      <label class="w-48" for="">Number of Rows: </label>
      <input type="number" [(ngModel)]="rows" class="p-1 border-2 border-grey-darker">
    </div>

    <div class="flex items-center mb-2">
      <label class="w-48" for="">Number of Columns: </label>
      <input type="number" [(ngModel)]="columns" class="p-1 border-2 border-grey-darker">
    </div>

    <div class="flex items-center">
      <label class="w-48" for="">Time: </label>
      <input type="number" [(ngModel)]="timer" class="p-1 border-2 border-grey-darker">
    </div>
  </div>
  <div class="mb-4">
    <!-- <gof-board [rows]="rows" [columns]="columns" [world]="world" (cellClick)="toggleCell($event)"></gof-board> -->
    <gof-canvas-board [rows]="rows" [columns]="columns" [world]="world" (cellClick)="toggleCell($event)"></gof-canvas-board>
    <p>
      Generation: {{generation}}
    </p>
  </div>

  <button (click)="start()"
          class="bg-blue text-white px-4 py-2 rounded">Start</button>

  <button (click)="stop()"
          class="bg-blue text-white px-4 py-2 rounded">Stop</button>

  <button (click)="resetWorld()"
          class="bg-blue text-white px-4 py-2 rounded">Reset</button>
</div>